// Begin default styles
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: "Oswald", sans-serif;
    margin:0 0 20px;
}

p {
    font-family: "Roboto", serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: .5em;
}

img {
    height: auto;
    max-width: 100%;
}

.clear {
    clear: both;
}
// End default styles

// Begin header styles
header {
    position: fixed;
    background-color: #6590dc;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;

    #headerCanvas {
        position: absolute;
        z-index: 1;
        opacity: 0.2;
    }

    #hero {
        position: absolute;
        margin: 7% auto 0;
        text-align: center;
        color: #fff;
        height: 100%;
        width: 100%;
        padding-top:4%;
        -webkit-animation: dropIn 1s 1 linear;
        animation: dropIn 1s 1 linear;
        z-index: 2;

        .social {
            text-align: center;
            margin-top: 1em;

            img {
                margin-left: 5px;
                margin-right: 5px;
                -webkit-filter: brightness(50%);
                filter: brightness(50%);
                -webkit-transition: all .2s linear;
                transition: all .2s linear;

                &:hover {
                    -webkit-filter: brightness(120%);
                    filter: brightness(120%);
                }
            }
        }

        #portrait {
            margin: 0  auto;
            display: block;
            border-radius: 50%;
            height: 150px;
            width: 150px;
        }
    }
}
// End header styles

// Begin body styles
#content {
    position: relative;
    background: #fff;
    height: auto;
    width: 100%;
    margin-top: 100vh;
    z-index: 3;

    overflow: hidden;

    .container {
        width: 75%;
        overflow: hidden;
        margin: 0 auto;

        h1 {
            text-align: center;
            width: 100%;
            margin: 0 auto 50px;
            padding-top: 50px;
            background-color: #444;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            color: transparent;
            text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        }

        p {
            width: 100%;
            margin: 25px auto;
        }

        .sideBySide {
            .left {
                float: left;
                width: 47%;
            }

            .right {
                float: right;
                width: 47%;
            }
        }

        margin-bottom: 50px;
    }
}

.spacer {
    width: 100%;
    height: 200px;
}
// End body styles

// Begin animation styles
@-webkit-keyframes dropIn {
    0% {-webkit-transform: translateY(-1000px);transform: translateY(-1000px);}
    66% {-webkit-transform: translateY(0px);transform: translateY(0px);}
    80% {-webkit-transform: translateY(-30px);transform: translateY(-30px);}
    100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}

@keyframes dropIn {
    0% {-webkit-transform: translateY(-1000px);transform: translateY(-1000px);}
    66% {-webkit-transform: translateY(0px);transform: translateY(0px);}
    80% {-webkit-transform: translateY(-30px);transform: translateY(-30px);}
    100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}
// End animation styles
