!!! 5
%html
    %head
        %title Michael Wood  |  Front-end Web Developer  |  Digital Artist
        %meta{:content=>"Portfolio of Michael Wood", :name=> "description"}/
        %meta{:content=>"Michael Wood", :name=>"author"}/
        %meta{:content=>"digital art, art, portfolio, web design, web development, design, development, programming, Michael Wood", :name=>"keywords"}/
        %meta{:content=>"width=device-width, initial-scale=1", :name=>"viewport"}/
        %link{:href=>"stylesheets/styles.css", :rel=>"stylesheet", :media=>"none", :onload=>"if(media!='all')media='all'", :type=>"text/css"}/
        %link{:href=>"http://fonts.googleapis.com/css?family=Oswald|Roboto", :rel=>"stylesheet", :media=>"none", :onload=>"if(media!='all')media='all'", :type=>"text/css"}/
        %noscript
            %link{:href=>"stylesheets/styles.css", :rel=>"stylesheet", :type=>"text/css"}/
            %link{:href=>"http://fonts.googleapis.com/css?family=Oswald|Roboto", :rel=>"stylesheet", :type=>"text/css"}/
        %script{:async=>"", :src=>"js/jquery-1.11.2.min.js"}
        %script{:async=>"", :src=>"js/main.js"}

    %body
        %header
            %canvas#headerCanvas
            #hero
                %img#portrait{:src=>"img/Michael-Wood.jpg", :alt=>"Michael Wood Front End Web Developer"}/
                %h1 Michael Wood
                %h2 Front-End Web Developer
                %h3 Digital Artist
                .social
                    .icons
                        %a{:href => "https://www.linkedin.com/in/michaelwood7", :target => "_blank"}
                            #linkedIn Linkedin
                        %a{:href => "http://codepen.io/mwooddesigns", :target => "_blank"}
                            #codepen Codepen
                        %a{:href => "https://github.com/JollyUmbra", :target => "_blank"}
                            #github Github
                        %a{:href => "mailto:mwooddesigns@gmail.com", :target => "_blank"}
                            #email Email
        #content
            .container
                %h1#about About Me
                .sideBySide
                    .left
                        %h2 Who am I?
                        %p I am a Front-end Developer located in the central Florida area after just completing my Bachelor of Arts degree in Digital Arts from Stetson University. I have a passion for improving my skills in both design and development, and love finding unique and creative ways to use code to create a beautiful user experience.  In my spare time, I enjoy reading a good book, playing video games, playing my bass guitar, and learning as much as I can about web development.
                    .right
                        %h2 What do I do?
                        %p My primary interest is in Front-end development. I am well-verses in HTML5(HAML), CSS(SCSS), Javascript(Coffeescript), jQuery, and php. I have also dabbled in writing svg. I am constantly looking for inspiration for good websites and  user experiences. I spend most of my idle time on CodePen playing with code or looking for new ideas to improve my own design skills. As well as web design, I also enjoy using programming for the creation of art to creative generative or interactive works that can be different every time they're viewed.
                %h1#portfolio.clear My Work
                %h2 Web Design and Development
                %h3.clear Water Scarcity Awareness Website
                %a{:href=>"http://galatea.stetson.edu/~mwood/ScarceSupply/", :target=>"_blank"}
                    %img{:src=>"img/water-scarcity.jpg", :alt=>"A website promoting water scarcity awareness"}/
                %p This project was my first attempt at a complete website with advanced features without the use of any external frameworks. Also, served as a way to put new web design techniques, such as flexbox layout, to the test. This site was made to interact with a physical installation that served to illustrate the problem.
                %h3 Canvas Experiments
                %a{:href=>"http://codepen.io/mwooddesigns/full/dobLeO/", :target=>"_blank"}
                    %img{:src=>"img/CanvasTrig.png", :alt=>"Canvas Trig experimentation"}/
                %p A codepen pen exploring the use of trigonometry for the use of cyclical drawing and animation using the javascript canvas library. This was developed as practice with the javascript canvas library.
                %a{:href=>"http://codepen.io/mwooddesigns/full/dobmQb/", :target=>"_blank"}
                    %img{:src=>"img/ParticleDecay.png", :alt=>"Canvas particle experimentation"}/
                %p A codepen pen I developed to explore the use of basic physics for animation using the javscript canvas library. This was developed as practice with the javascript canvas library.
                %a{:href=>"http://codepen.io/mwooddesigns/full/WbORjM/", :target=>"_blank"}
                    %img{:src=>"img/CanvasGraph.png", :alt=>"Animated pi graph created with javascript canvas"}/
                %p A codepen pen I developed as a way to practice with the javascript canvas library and to explore the use of canvas to create clean animated graphs.
                %h2 Generative Art/Creative Coding Projects
                %h3 Life's a Glitch series
                %a{:href=>"img/LifesAGlitch.jpg", :target=>"_blank"}
                    %img{:src=>"img/LifesAGlitch.jpg", :alt=>"Life's a Glitch series by Michael Wood"}/
                %p Life's a Glitch is a series that seeks to reveal the beauty of every day life even in the most mundane tasks. I wrote a program in the Processing programming environment that receives motion tracking data from Max/MSP. It uses this data to draw generate an image based on the motion of the user. I then took the generated images and did a technique called databending using an audio editing program call Audacity. The first image was generated with a video of driving. The second is an image of me folding laundry. And the last image is an image of me eating dinner.
                %h3 RGBCubism
                %a{:href=>"img/RGBCubism.jpg", :target=>"_blank"}
                    %img{:src=>"img/RGBCubism.jpg", :alt=>"RGBCubism series by Michael Wood"}/
                %p RGBCubism is a response to Cubist landscape compositions made for my Advanced Open Studio course. I was tasked with combining both a classic and modern technique. I wrote a Proccessing sketch that uses OpenGL to render 3D cubes to create the different compositions and choose a color scheme for each image.
                %h3 Processing Visual Experiments
                .videos
                    %iframe{:src=>"https://player.vimeo.com/video/126075587", :width=>"500", :height=>"281", :frameborder=>"0", :webkitallowfullscreen=>"", :mozallowfullscreen=>"", :allowfullscreen=>""}
                    %iframe{:src=>"https://player.vimeo.com/video/126076417", :width=>"500", :height=>"281", :frameborder=>"0", :webkitallowfullscreen=>"", :mozallowfullscreen=>"", :allowfullscreen=>""}
                %p Visual experiments using Processing to learn the math associated in basic animation to be later implemented in Javascript. This was a response to a prompt given in my Advanced Open Studio class.
        .spacer

        #contact
            .container
                %h1#contact Let's Work Together
                %h3#contact-msg Or just say hello!
                #contact-area
                    %form{:action=>"contact.php", :method=>"post"}
                        %label{:for=>"Name"} Name:
                        %input#Name{:name=>"Name", :type=>"text"}/
                        %label{:for=>"Email"} Email:
                        %input#Email{:name=>"Email", :type=>"text"}/
                        %label{:for=>"Message"} Message:
                        %textarea#Message{:name=>"Message", :cols=>"20", :row=>"20"}
                        %input.submit-button{:name=>"submit", :type=>"submit", :value=>"Submit"}/
        .spacer#last
